@media (min-width: 0px) and (max-width: 480px) {
    nav {
        flex-flow: row-reverse;
    }

    .ctmr {
        right: 2%;
        top: unset;
    }

    nav li {
        border-right: none;
    }

    .ihofc {
        height: 250px;
    }

    .cili li {
        width: 10px;
        height: 10px;
    }

    .cili .active {
        width: 15px;
        height: 15px;
    }

    .dimgh {
        height: auto;
    }

    .img-caption h4 {
        font-size: 1.75rem;
    }

    .img-caption p {
        font-size: 1rem;
    }

    .capbtm h5 {
        font-size: 1.3rem;
    }

    .capbtm p {
        font-size: 0.76rem;
        margin-bottom: 1rem;
    }

    .btn-shop-now {
        font-size: 12px;
        padding: 5px 20px;
    }

    .kglogodiv {
        text-align: center;
    }

    .parallax {
        min-height: 350px;
    }

    .text-layout {
        height: 350px;
    }

    .parallax-title {
        font-size: 40px;
    }

    .link-parallax {
        padding: 10px 30px;
    }

    .atc,
    .qview {
        font-size: 12px;
    }

    .scr-width {
        width: 1140px;
    }

    .product-name {
        font-size: 14px;
    }

    .category-heading {
        font-size: 1.5rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    nav {
        flex-flow: row-reverse;
    }

    .cart-two {
        right: 9%;
        top: unset;
    }

    nav li {
        border-right: none;
    }

    .capbtm h5 {
        font-size: 3.2rem;
    }

    .capbtm p {
        font-size: 1.4rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .nav-link {
        padding-right: 1.5rem !important;
        padding-left: 1rem !important;
        padding-top: .3rem;
        padding-bottom: .3rem;
    }

    .cart-two {
        right: 11.5%;
    }

    .capbtm h5 {
        font-size: 4.4rem;
    }

    .scr-width {
        width: 1240px;
    }

    .product-name {
        font-size: 16px;
    }
}

@media (min-width: 1025px) and (max-width: 1500px) {
    .nav-link {
        padding-right: 1.5rem !important;
        padding-left: 1rem !important;
        padding-top: .3rem;
        padding-bottom: .3rem;
    }


    .hovls {
        width: 250px;
        padding: 15px 10px 15px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .08);
        transition: opacity .2s ease-out, visibility .2s ease-out;
        border: 1px solid #f5f5f6;
        background-color: #fff;
        visibility: hidden;
        position: absolute;
        z-index: 9;
        opacity: 0;
        justify-content: space-around;
        top: 67px;
        right: 87px;
    }

    .loghov:hover .hovls {
        visibility: visible;
        opacity: 1;
    }

    .loginh {
        color: #FFF;
        background-color: pink;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 25px;
        border: 2px solid #FFF;
        transition: all 0.3s ease;
        box-shadow: 0 4px 12px 0 #3c1d1a;

    }

    .loginh:hover {
        color: #3c1d1a;
    }

}