* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdf2f7;
}

/* HEADER NAV */
.title-ross,
.title-breadworks {
    font-family: 'Ubuntu', sans-serif;
}

nav {
    border-bottom: 1px solid #f5bad3;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
}

.title-ross {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
    color: #3c1d1a;
}

.title-breadworks {
    font-size: 1rem;
    letter-spacing: 3px;
    color: #3c1d1a;
}

.nav-link {
    color: #957d7a !important;
    transition: all .3s ease;
    font-weight: 700;
}

nav li:hover .nav-link {
    color: #f6b9d3 !important;
}

nav li {
    border-right: 2px solid #b1b1b1;
}

.pro-li a {
    color: #957d7a;
}

.pro-li a:hover {
    color: #f6b9d3;
}

.pl-act:active {
    color: #f6b9d3 !important;
}

.pl-act:focus {
    color: #f6b9d3 !important;
}

.sbtnc {
    color: #3c1d1a;
    border-color: #3c1d1a;
}

.nav-search input {
    border: 1px solid #3c1d1a;
}


.plc i {
    width: 33px;
    height: 33px;
    line-height: 30px;
    background-color: #3c1d1a;
    color: white;
    border-radius: 50%;
    transition: all .3s ease;
    text-align: center;
}

.plc i:hover {
    background-color: #f6b9d3;
}

.loghov:hover .pro-icon {
    background-color: #f6b9d3;
}


.cart-two {
    background-color: #f6bad4;
    color: #FFF;
    font-weight: 300;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    position: absolute;
    top: 30%;
    left: auto;
    right: 15.5%;
}

.ul-plc {
    justify-content: space-around;
}

/* HEADER NAV */

/* MAIN CAROUSEL */

.ihofc {
    height: 500px;
    object-fit: cover;
}

.capbtm {
    bottom: 40%;
    color: #ffffff;
}

.capbtm h5 {
    font-size: 5rem;
    text-shadow: 2px 2px #3c1d1a;
}

.capbtm p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px #3c1d1a;
}

.btn-shop-now {
    color: #FFF;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 40px;
    border: 2px solid #FFF;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px 0 #3c1d1a;
}

.btn-shop-now:hover {
    text-decoration: none;
    background-color: #3c1d1a;
    color: #FFF;
    border: none;
}

.cili li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3c1d1a;
    margin: 0 15px;
    transition: all 0.2s ease 0s;
}

.cili .active {
    width: 20px;
    height: 20px;
    background-color: #f6bad4;
}

/* MAIN CAROUSEL */

/* DIV IMG HOVER */

.img-hover:hover img {
    transform: scale(1.03, 1.03) rotate(0.03deg) translateZ(0);
}

.img-hover img {
    transition: all 0.3s ease;
}

.dimgh {
    height: 286px;
    object-fit: cover;
}

.img-caption {
    width: 100%;
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-caption h4 {
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 2px 2px #3c1d1a;
}

.img-caption p {
    font-size: 1.2rem;
    text-shadow: 2px 2px #3c1d1a;
}

/* DIV IMG HOVER */

/* PRODUCT SCROLL */
.product-card {
    border: none;
    padding: 15px;
    margin-right: 10px;
}

.quick-actions {
    display: flex;
    position: relative;
}

.aqa {
    width: 50%;
}

.atc {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #f5bad4;
    padding: 8px;
    border: 0;
}

.qview {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #a7a5a5;
    padding: 8px;
    border: 0;
}

.product-name {
    font-size: 20px;
    font-weight: 500;
}

.product-price {
    font-size: 20px;
    font-weight: 500;
}

.o-scroll {
    overflow: scroll;
}

.scr-width {
    width: 1440px;
}

.card:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    transition: 0.5s;
}

.category-heading {
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
}


/* PRODUCT SCROLL */

/* 3 IMG PRODUCTS */

.three-prods {
    background-color: #ffffff;
}

.product-circle {
    background-color: #FFF;
}

.thpi-title {
    font-size: 21px;
    padding: 6px 0;
    border-top: 1px solid #2d1a18;
    border-bottom: 1px solid #2d1a18;
    text-align: center;
    color: #2d1a18;
}

.pltu {
    padding-left: 20%;
    padding-right: 20%;
}

.img-posit {
    display: flex;
    justify-content: center;
}

.wsn {
    width: 79%;
}

/* 3 IMG PRODUCTS */

/* PARALLAX */
.parallax {
    background-image: url(https://images.getbento.com/accounts/854da2c9dbdbd2d301bfde8f79e8cdfd/media/images/37645_Q6A0787.jpg?fit=max&w=1800&auto=format,compress);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-layout {
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parallax-title {
    font-size: 84px;
    line-height: 84px;
    color: #FFF;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 2px 2px #3c1d1a;
}


.parallax-slog {
    font-size: 24px;
    line-height: normal;
    color: #FFF;
    margin-bottom: 45px;
    text-shadow: 2px 2px #3c1d1a;
}

.link-parallax {
    color: #FFF;
    background: none;
    padding: 18px 42px;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 2px solid #ffffff;
    font-weight: 600;
}

.link-parallax:hover {
    text-decoration: none;
    background-color: #3c1d1a;
    color: #FFF;
    border: none;
}

a:hover {
    text-decoration: none;
}

/* PARALLAX */

/* NEWSLETTER SOCIAL MEDIA */
.ok-pink {
    background-color: #f6b9d3;
    color: #FFF;
    border-color: #cf548a;
}

.nltrdiv {
    padding: 25px 0px;
    border-top: 1px solid #f6b9d3;
    border-bottom: 1px solid #f6b9d3;
}

.follow-us {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.sm-icon {
    padding: 25px 0px;
    border-top: 1px solid #f6b9d3;
    border-bottom: 1px solid #f6b9d3;
    display: flex;
    justify-content: space-between;
}

.ig-fb {
    display: flex;
}

.fb-icon {
    color: #3b5998;
    font-size: 2.5em;
    padding-left: 10px;
}

.ig-icon {
    border-radius: 50%;
}

/* NEWSLETTER SOCIAL MEDIA */

/* FOOTER */


.footer-light {
    background-color: #fff;
    color: #696b79;
    border-top: 1px solid rgba(247, 185, 212, 0.9);
    margin-top: 5%;
}

.footer-big {
    padding: 40px 0 0 0;
}


.widget-about p {
    font-weight: 400;
    color: #957d7a;
}

.widget-about .contact-details {
    margin: 30px 0 0 0;
}

.widget-about .contact-details li {
    margin-bottom: 10px;
    list-style: none;
}

.widget-about .contact-details li span {
    padding-right: 12px;
}

.widget-about .contact-details li a {
    color: #957d7a;
}

.footer-big .footer-widget {
    margin-bottom: 40px;
}

.footer-widget-title {
    color: #957d7a;
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid #f6b9d3;
}

footer li {
    list-style: none;
}

.footer-menu ul li a {
    font-size: 15px;
    line-height: 32px;
    transition: all .3s ease;
    color: #957d7a;
}

.footer-menu ul li a:hover {
    text-decoration: none;
    color: #96453b;
}


.mini-footer {
    background-color: #192724;
    text-align: center;
    padding: 32px 0;
}

.mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999;
}

.mini-footer p a {
    color: white;
}

/* FOOTER */